#gallery {
  position: absolute;
  top: 0;
  left: 0;
  width: 880px;
  height: 430px;
  background: white;
  z-index:10;}

.galleria-container {
  position: relative;
  width: 880px;
  height: 430px;
  padding: 0!important;
  background: white;
  img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    vertical-align: text-bottom; } }

.galleria-stage {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden; }

.galleria-thumbnails-container {
  position: absolute;
  top: 30px;
  right: -20px;
  height: 8px;
  padding: 9px 10px;
  z-index: 20;
  background: black; }

.galleria-carousel .galleria-thumbnails-list {
  margin-left: 30px;
  margin-right: 30px; }

.galleria-thumbnails .galleria-image {
  height: 8px;
  width: 8px;
  background: url('/images/select_images.png') no-repeat 0 0;
  margin: 0 3px 0 0;
  float: left;
  cursor: pointer;
  z-index: 50px;
  text-indent: -9999px; }

.galleria-image {
  &:hover {
    background-position: 0 -8px; }
  &.active {
    background-position: 0 -8px;
    cursor: default; } }

.galleria-counter {
  position: absolute;
  bottom: 10px;
  left: 10px;
  text-align: right;
  color: #fff;
  font: normal 11px / 1 arial, sans-serif;
  z-index: 2; }

.galleria-loader {
  background: #000;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 50%;
  right: 50%;
  margin: -16px 0 0 -16px;
  z-index: 2;
  display: none;
  background: url('/images/classic-loader.gif') no-repeat 2px 2px; }

.galleria-info {
  padding: 10px;
  width: auto;
  bottom: 25px;
  right: 30px;
  z-index: 2;
  position: absolute;
  opacity: 0.9; }

.galleria-info-text {
  background-color: #000;
  padding: 6px 10px;
  display: none;
  /* IE7 */
  zoom: 1;
  a {
    color: white;
    font-weight: bold; } }

.galleria-info-title {
  font: bold 12px / 1.1 arial, sans-serif;
  margin: 0;
  color: #fff;
  margin-bottom: 0px; }

.galleria-info-description {
  font: italic 12px / 1.4 georgia, serif;
  margin: 0;
  color: #bbb; }

.galleria-info-close {
  width: 9px;
  height: 9px;
  position: absolute;
  top: 5px;
  right: 5px;
  background-position: -753px -11px;
  opacity: .5;
  filter: alpha(opacity = 50);
  cursor: pointer;
  display: none;
  &:hover {
    opacity: 1;
    filter: alpha(opacity = 100); } }

.galleria-info-link {
  background-position: -669px -5px;
  opacity: .7;
  filter: alpha(opacity = 70);
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: #000;
  &:hover {
    opacity: 1;
    filter: alpha(opacity = 100); } }

.galleria-image-nav {
  position: absolute;
  top: 50%;
  margin-top: -62px;
  width: 100%;
  height: 62px;
  left: 0; }

.galleria-image-nav-left {
  opacity: .3;
  filter: alpha(opacity = 30);
  cursor: pointer;
  width: 62px;
  height: 124px;
  position: absolute;
  left: 10px;
  z-index: 2;
  background-position: 0 46px; }

.galleria-image-nav-right {
  opacity: .3;
  filter: alpha(opacity = 30);
  cursor: pointer;
  width: 62px;
  height: 124px;
  position: absolute;
  left: 10px;
  z-index: 2;
  background-position: 0 46px;
  left: auto;
  right: 10px;
  background-position: -254px 46px;
  z-index: 2; }

.galleria-image-nav-left:hover, .galleria-image-nav-right:hover {
  opacity: 1;
  filter: alpha(opacity = 100); }

.galleria-thumb-nav-left {
  cursor: pointer;
  display: none;
  background-position: -495px 5px;
  position: absolute;
  left: 0;
  top: 0;
  height: 40px;
  width: 23px;
  z-index: 3;
  opacity: .8;
  filter: alpha(opacity = 80); }

.galleria-thumb-nav-right {
  cursor: pointer;
  display: none;
  background-position: -495px 5px;
  position: absolute;
  left: 0;
  top: 0;
  height: 40px;
  width: 23px;
  z-index: 3;
  opacity: .8;
  filter: alpha(opacity = 80);
  background-position: -578px 5px;
  border-right: none;
  right: 0;
  left: auto; }

.galleria-thumbnails-container .disabled {
  opacity: .2;
  filter: alpha(opacity = 20);
  cursor: default; }

.galleria-thumb-nav-left:hover, .galleria-thumb-nav-right:hover {
  opacity: 1;
  filter: alpha(opacity = 100);
  background-color: #111; }

.galleria-thumbnails-container .disabled:hover {
  opacity: 0.2;
  filter: alpha(opacity = 20);
  background-color: transparent; }

.galleria-carousel {
  .galleria-thumb-nav-left, .galleria-thumb-nav-right {
    display: block; } }
