body {margin:0; padding:0;}
body.login {background:url('/images/admin/login/login_bkg.png') repeat-x 0 bottom #373737; color:white;}
body.login label {color:white;}

ul {list-style:none!important;}
/*FONTS FONT-FACE*/
@font-face {
  font-family: 'Museo Sans';
  src: url('fonts/museosans_500_italic-webfont.eot');
  src: local('☺'), url('fonts/museosans_500_italic-webfont.woff') format('woff'), url('fonts/museosans_500_italic-webfont.ttf') format('truetype'), url('fonts/museosans_500_italic-webfont.svg#webfontrWMt54Br') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('fonts/museosans_500-webfont.eot');
  src: local('☺'), url('fonts/museosans_500-webfont.woff') format('woff'), url('fonts/museosans_500-webfont.ttf') format('truetype'), url('fonts/museosans_500-webfont.svg#webfontnw1AQrE0') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* ----------------------------------- LOGIN PAGE*/
body.login header {display:none;}
/*div.login {position:absolute; top:0; bottom:0; right:0; left:0; float:left; width:100%; height:100%; background:url('/images/backoffice/login/login_bkg.png') repeat-x 0 bottom #373737;}*/

/*THE FOLLOWING STYLE IS OBTAINED FROM IOM (THE DESIGN IS THE SAME IN LOGIN'S PAGE)*/
/*
body.login #page_container {position:absolute; top:118px; left:50%; width:401px; margin:0 0 0 -200px;}
body.login #page_container h1 {float:left; margin:0 0 0 90px;}
body.login #page_container h1 a {font:bold 29px Arial; color:white; letter-spacing:-2px;}
body.login #page_container h1 a sup {padding:0 0 0 7px; font:normal 15px "Museo Sans",Arial; color:#E93E3F; letter-spacing:0;}
body.login #page_container div.top_data {float:left; width:100%; height:10px; margin:20px 0 0 0; background:url('/images/admin/login/top_login.png') no-repeat 0 0;}
body.login #page_container div.med_data {float:left; width:324px; padding:10px 38px 38px; background:white;}
body.login #page_container div.med_data label {float:left; width:322px; margin:20px 0 0 2px; font:bold 11px Arial; color:#666666; text-transform: uppercase;}
body.login #page_container div.med_data input {float:left; width:309px; height:18px; line-height:13px; padding:7px; margin:5px 0 0 0; background:url('/images/admin/login/text_bkg.png') no-repeat 0 0; border:none; font:normal 15px Arial;
  color:#333333;}
body.login #page_container div.med_data input[type="password"] {font-weight:bold;}
body.login #page_container div.med_data input.error {background-position:0 -32px;}
body.login #page_container div.med_data p.error {float:left; width:256px; height:33px; margin:20px 0 0 1px; padding:19px 0 0 65px; background:url('/images/admin/login/error_bkg.png') no-repeat 0 0; font:normal 13px Arial; color:white;}
body.login #page_container div.bottom_data {float:left; width:400px; height:76px; background:url('/images/admin/login/bottom_login.png') no-repeat scroll top left; }
body.login #page_container div.bottom_data input {float:right; width:98px; height:32px; padding:0; margin:22px 40px 0 0  ; background:url('/images/admin/login/submit_bkg.png') no-repeat 0 0; border:none; text-align:center;
  font:normal 19px "Museo Sans","Arial"; color:white; text-shadow:0 1px #96272D;}
body.login #page_container div.bottom_data input:hover {background-position:0 -32px; cursor:pointer;}
*/


/* SEARCH PARTIAL (_search.html.erb) */
.search_form{position:relative; width:705px; height:auto;}
.search_form span.top {float:left; width:705px; height:10px; background:url('/images/admin/search/top_search.png') no-repeat 0 0;}
.search_form span.content {float:left; width:705px; height:auto; background:url('/images/admin/search/content_search.png') repeat-y 0; padding:0 0 28px 0;}
.search_form span.content label {float:left; font:bold 11px Arial; color:#999999; text-transform:uppercase; width:100%; margin:20px 0 0 30px;}
.search_form #search{float:left; width:612px; height:37px; background:url('/images/admin/search/input_search.png') no-repeat 0 0; font:normal 17px Arial; color:#CCCCCC; border:0px; margin:5px 0 0 29px; padding:0 12px;}
.search_form input.button{background:url('/images/admin/search/button.jpg') no-repeat 0 0; width:15px; height:15px; position:absolute; top:60px; right:35px;}
.search_form input.button:hover {background:url('/images/admin/search/button.jpg') no-repeat 0 0; background-position:0!important;}
.search_form span.bottom {float:left; width:705px; height:10px; background:url('/images/admin/search/bottom_search.png') no-repeat 0 0;}
.search_form .button,.search_form .button-wrapper{position:absolute;right:0px;top:0px;}
form input[type=submit]:hover{background:#65c3f7;}
.search_list {padding:0!important;}

/*HEADER*/
#site_bar {float:left; width:100%; height:111px!important; margin:0; padding:0; background:url('/images/admin/common/site_bar_back.jpg') repeat-x 0 0;}
#site_bar_content {width:942px; margin:0 auto; padding:0;}
#site_bar_content h2 {font:normal 11px "Museo Sans"; color:#DEDFE4; line-height:11px;}
#site_bar_content h1 {display:inline; width:400px; line-height:80px;}
#site_bar_content h1 a {font:bold 25px Arial; color:white; text-decoration:none!important; border:none;}
#site_bar_content h1 a:hover {border:none;}
#site_bar_content h1 a sup {padding:0 0 0 5px; font:normal 13px "Museo Sans"; color:#FF3366;}
#site_bar_content span {float:right; color:#DEDFE4!important; font:normal 13px "Museo Sans"; line-height:80px;}
#site_bar_content span a {color:#DEDFE4!important; font:normal 13px "Museo Sans"; border-bottom:1px solid #DEDFE4;}
#site_bar_content span a:hover {border-bottom:1px dotted #DEDFE4;}
header {float:left; width:100%; height:90px; margin:0; padding:0px 0 0 0; background:url('/images/admin/common/header_menu_back.jpg') repeat-x 0 0;}
header div.inner {position:relative; width:942px; height:50px; margin:0 auto;}
header div.inner nav#menu {top:0; width:942px; height:50px; margin:0;}
header div.inner nav#menu a {margin:0 2px 0 0; padding:0 0 0 10px; height:56px; background:url('/images/admin/common/menu_left.png') no-repeat 0 0;  border-top-left-radius:0px!important; border-top-right-radius:0px!important;}
header div.inner nav#menu a span {float:left; height:34px; padding:11px 13px 11px 3px; font:normal 17px "Museo Sans"; color:white; background:url('/images/admin/common/menu_right.png') no-repeat right 0;}
header div.inner nav#menu a.active {background-position:0 -56px;}
header div.inner nav#menu a.active span {background-position: right -56px;}
header div.inner nav#menu a:hover {background-position:0 -56px;}
header div.inner nav#menu a:hover span {background-position:right -56px;}
header div.inner nav#menu a#menu_reorder {background:none;}
header div.inner nav#menu a#menu_reorder_done {background:none;}

#page_container {width:100%; padding:0; margin:0; background:none;}
#page_container #page {width:952px!important; margin:0 auto;}
#page_container #page #content {background:none;}

/*FLASH MESSAGE*/
div.flash_notice {width:100%; width:872px; height:85px; padding:0 40px; background:url('/images/admin/common/success_bkg.png'); border:none;}
div.flash_notice p {float:left; margin:30px 0 0 0; padding:0 0 0 20px; font:normal 15px Arial; color:#6EB457; background:url('/images/admin/icons/ok.png') no-repeat 0 2px;}
div.flash_notice a#flash_close {top:35px; right:20px; width:9px; height:9px; text-indent:-9999px; font-size:0; background:url('/images/admin/icons/close.png') no-repeat 0 0; border:none; text-decoration:none;}
div.flash_notice a#flash_close:hover {background-position:0 -9px; border:none;}

/*DASHBOARD*/
#recent_activity {background:none!important; padding:0!important;}

div#actions {float:left; width:100%; margin:0; padding:0; background:none;}
div#actions ul {width:100%;}
div#actions ul li {float:left; display:inline-block; width:auto!important; height:126px!important; margin:0 14px 0 0 ; background:none;}
div#actions ul li.last {margin:0; float:right;}
div#actions ul li a {width:194px!important; height:40px!important; padding:40px 15px; margin:0; background:url('/images/admin/dashboard/big_button.png') no-repeat 0 0; font:normal 21px "Museo Sans"; color:#333333; line-height:23px; border:none; text-align:center;}
div#actions ul li a:hover {background:url('/images/admin/dashboard/big_button.png') no-repeat 0 -126px; color:black;}
div#records {width:952px; margin:20px 0 0 0;}
div#records ul#sortable_list {float:left; width:942px; padding:0!important; margin:0 0 0 5px;}
div#records ul#sortable_list li {position:relative; height:70px; padding:20px 0 0 30px; border-bottom:1px solid #E3E3E3; width:912px;}
div#records ul#sortable_list li.on {background-color:white;}
div#records ul#sortable_list li.on-hover {background-color:#FAFAFA;}
div#records ul#sortable_list li a {font:normal 15px Arial; color:#FF3366; text-decoration:underline; border-bottom:none;}
div#records ul#sortable_list li a:hover {color:#B3002D;}
div#records ul#sortable_list div.icons {position:absolute; left:30px!important; bottom:0px!important; bottom:23px!important; height:22px; margin:0;}
div#records ul#sortable_list div.icons a {float:left; font:normal 13px Arial; color:#666666; text-decoration:underline; margin:0 15px 0 0;}
div#records ul#sortable_list div.icons a:hover {color:#4D4D4D!important;}
div#records ul#sortable_list div.date {position:absolute; left:360px; top:8px; width:280px; height:70px;}
div#records ul#sortable_list div.date span label {float:left; font:normal 11px Arial; color:#999999; text-transform:uppercase; width:auto;}
div#records ul#sortable_list div.date span {float:left;}
div#records ul#sortable_list div.date span.from {width:100%;}
div#records ul#sortable_list div.date span.to {width:100%;}
div#records ul#sortable_list div.date span.from label {margin:20px 15px 0;}
div#records ul#sortable_list div.date span.to label {margin:7px 14px 0 33px;}
div#records ul#sortable_list div.date span p {font:normal 15px Arial; color:#666666;}
div#records ul#sortable_list div.date span.from p {margin:16px 0 0 8px;}
div#records ul#sortable_list div.date span.to p {margin:4px 0 0 8px;}
div#records ul#sortable_list div.location {position:absolute; left:732px; top:20px; width:200px; height:70px;}
div#records ul#sortable_list div.location p {float:left; font:normal 15px Arial; color:#666666; width:100%; margin:0;}
div#records ul#sortable_list div.location a.coords {float:left; font:normal 13px Arial; color:#FF3366; text-decoration:underline; margin:2px 0 0 0;}
div#records ul#sortable_list div.location a.coords:hover {color:#B3002D; cursor:pointer;}

div#records ul#sortable_list a.view {background:url('/images/admin/common/view_icon.png') no-repeat 0 bottom; padding:1px 0 0 22px;}
div#records ul#sortable_list a.delete {background:url('/images/admin/common/delete_icon.png') no-repeat 0 bottom; padding:1px 0 0 22px;}


div#records .on{background-color:white;}
div#records .off,#records .on-hover{background-color:white;}
div#records ul.clickable {width:941px; padding:0; margin:0 0 0 5px;}
div#records ul.clickable li {list-style:none; width:100%; padding:0; margin:0; border-bottom:1px solid #E5E5E5; height:33px; position:relative;}
div#records ul.clickable li a {float:left; padding:0; margin:0 5px 0 30px; color:#FF3366; width:auto; text-decoration:underline; vertical-align:middle;margin-bottom:2px;line-height:35px;display:block;border-bottom:0px none; font:normal 15px Arial;}
div#records ul.clickable li p {color:#333333; padding:0; margin:17px 0 0 30px; vertical-align:middle;margin-bottom:2px;line-height:35px;display:block;border-bottom:0px none; font:normal 15px Arial;}
div#records ul.clickable li a:hover {color:#B3002D;}
div#records ul.clickable li p.ago {position:absolute; right:15px; top:0; color:#999999; font:normal 13px Arial; width:auto; margin:0!important; padding:0!important;}

/* LIST OF ACTIVITIES, FEATURES,... */
div#recent_activity,#records {width:952px; background:none;}
div#recent_activity,#records div.top {float:left; width:100%; height:77px; background-color:none; background:url('/images/admin/backgrounds/top_grey.png') no-repeat 0 0; position:relative;}
div#recent_activity,#records div.top h2 {padding:0 0 0 35px; font:normal 25px "Museo Sans"; color:#333333; line-height:77px;}
div.top.events a.date {position:absolute; top:31px; left:450px; border-bottom:none!important; font:normal 16px "Museo Sans"; color:#666666;}
div.top.events a.date span {float:right;  padding:0!important; margin:8px 5px !important; width:8px; background:url('/images/admin/common/arrow.png') no-repeat right 0; height:6px!important; }
div.top.events a.date:hover {cursor:pointer;}
div.top.events a.date.clicked span {background-position:0 -6px;}
div.top.events p {position:absolute; top:15px; right:150px; font:normal 16px "Museo Sans"; color:#666666; width:auto; }
div.top.features p {position:absolute; top:15px; right:150px; font:normal 16px "Museo Sans"; color:#666666; width:auto; }
div#recent_activity,#records div.middle {float:left; width:100%; height:auto; background-color:none; background:url('/images/admin/backgrounds/middle_white.png') repeat-y 0 0;}
div#recent_activity,#records div.bottom {float:left; width:100%; height:58px; background-color:none; background:url('/images/admin/backgrounds/bottom_grey.png') no-repeat 0 0;}


/* ----------------------------- SEARCH BOX --- NO RESULTS */
div.no_results {float:left; width:100%; margin:0; }
div.no_results span.top {float:left; width:952px; height:11px; background:url('/images/admin/common/search/top_box.png') no-repeat 0 0; }
div.no_results div.repeat_content {float:left; width:912px; height:auto; background:url('/images/admin/common/search/content_box.png') repeat-y 0 0; padding:40px 20px 95px;}
div.no_results div.repeat_content h3 {float:left; width:100%; font:normal 25px "Museo Sans"; color:#333333; text-align:center; margin:45px 0 0 0;}
div.no_results div.repeat_content p {float:left; width:100%; font:normal 15px Arial; color:#333333; text-align:center; margin:5px 0 0 0;}
div.no_results div.repeat_content a {font:normal 15px Arial; color:#FF3366; text-decoration:underline; border:none!important;}
div.no_results div.repeat_content a:hover {color:#B3002D;}
div.no_results span.bottom {float:left; width:952px; height:60px; background:url('/images/admin/common/search/bottom_box.png') no-repeat 0 0; }
