  <div id='footer_first'>
    <p id="first_claim">This site is a possible redesign using <a href="http://vizzuality.com/cartoset" target="_blank">CartoSet</a>. With it we are trying to...</p>
    <ul>
      <li id="icon1_<%=feature_type%>">Get you to fall in love with our product for its scalability and flexibility</li>
      <li id="icon2_<%=feature_type%>">Show an example of the kind of things you can easily do with CartoSet</li>
      <li class="last" id="icon3_<%=feature_type%>">Propose a fresh approach to exploring World Heritage Sites</li>
    </ul>
  </div>

  <span class="line"></span>

  <div id="footer_second" class="<%=feature_type%>">
    <p id="second_claim"><a href="http://vizzuality.com/cartoset">CartoSet</a> is a content manager based on Ruby on Rails that allows you to create websites with geographic data in a quick, easy and powerful way.</p>
    <a class="button" href="http://vizzuality.com/cartoset" target="_blank">Learn more about CartoSet</a>
  </div>

  <div id="subfooter">
    <div id="inner">CartoSet - and this website - are brought to you by <a href="http://vizzuality.com">Vizzuality</a></div>
  </div>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-21725644-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>