
  body {font:normal 13px Arial; color:#666666;}
  h1 {font:bold 18px "PT Sans",Arial; color:#666666; margin:10px 0 0 0;}
  h2 {font:bold 16px "PT Sans",Arial; color:#666666; margin:10px 0 0 0;}
  h3 {font:bold 13px "PT Sans",Arial; color:#666666; margin:10px 0 0 0; text-transform:uppercase;}
  h4 {font:bold 12px "PT Sans",Arial; color:#666666; margin:10px 0 0 0;}
  h5 {font:bold 12px "PT Sans",Arial; color:#666666; margin:10px 0 0 0;}
  h6 {font:bold 10px "PT Sans",Arial; color:#666666; margin:10px 0 0 0;}
  p {font:normal 13px Arial; color:#666666; margin:10px 0 0 0;}
  p a {color:#D05F4C; text-decoration:none;}
  p a:hover {text-decoration:underline; cursor:pointer;}
  ul {width:100%; margin:10px 0 0 0; padding:0 0 6px; list-style:inside disc;}
  ul li {padding:3px 0 3px 13px; font:normal 13px Arial; color:#666666;}
